/* Style the body */
body {
    font-family: 'Pacifico', cursive;
    background-color: #d26464;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Style the container */
  .container {
    background-color: #332727;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
  }
  
  /* Style the todo header */
  .todo h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  /* Style the input field and button */
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  #input {
    flex: 1;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #da9191;
    font-size: 16px;
  }
  
  button {
    background-color: #051f36;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Style the task list */
  ul#list {
    list-style: none;
    padding: 0;
  }
  
  ul#list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  /* Style the delete button in each task */
  ul#list li button.delete {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  